.ingrid-d-block {
	display: block !important;
}
.ingrid-w-100 {
	width: 100% !important;
}
.ingrid-ml-0 {
	margin-left: 0 !important;
}
.ingrid-mt-3 {
	margin-top: 1rem!important;	
}

@media (max-width: 990px) {
	.ingrid-w-100 {
		width: 100% !important;
	}
}